# Source: https://github.com/benblasco/backups-personal
[Unit]
Description=Run OneDrive personal documents backup on Mon, Wed, Fri at 01:00

[Timer]
OnCalendar=Mon,Wed,Fri *-*-* 01:00:00
Persistent=true

[Install]
WantedBy=timers.target
