# Source: https://github.com/benblasco/backups-personal
[Unit]
Description=Run Backblaze photos backup on Sunday at 01:00

[Timer]
OnCalendar=Sun *-*-* 02:00:00
Persistent=true

[Install]
WantedBy=timers.target
