# Source: https://github.com/benblasco/backups-personal
[Unit]
Description=Rclone sync photos to OneDrive
RequiresMountsFor=/var/mnt/sg1

[Service]
Type=oneshot
ExecStart=rclone sync /var/mnt/sg1/media/photos/ onedrive:rclone_backup/photos/ --log-file=%h/rclone_logs/onedrive-photos.log --log-level=INFO --stats-log-level NOTICE
ExecStopPost=/var/usrlocal/bin/rclone-notify.sh rclone-onedrive-photos %h/rclone_logs/onedrive-photos.log
